{% extends 'base.html' %}
{% block content %}

    <div class="pricing">
        <h2>Pricing Table</h2>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, fugiat?</div>
        <div class="row">
            <div class="col-3 p-5 price-col">
                <h3>Basic</h3>
                <h6>
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </h6>
                <div>Full Support: No</div>
                <div>Duration: 30 days</div>
                <div>Storage: 10Gb</div>
                <h3 class="price__value">25$</h3>
                <div class="d-grid">
                    <button class="btn btn-outline-primary">Buy Now</button>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">Block 2</div>
            <div class="col-1"></div>
            <div class="col-3">Block 3</div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>

{% endblock %}