{% extends 'base.html' %}
{% block content %}
    <h1>Список овощей</h1>
    <div>
        <a href={% url 'vegetable-add' %} class="btn btn-success">Добавить</a>
    </div>
    <br/>
    <div class="row">
    {% for vegetable in all_vegetables %}
        <div class="col-4 vegs">
            <div>
                <h2><a href="/vegetables/{{ vegetable.id }}">{{ vegetable.name }}</a></h2>
                <h3>{{ vegetable.price }} сом</h3>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}